{% extends 'base.jinja' %}

{% block title %}
About
{% endblock %}

{% block content %}
<div class="center">
    <div class="about">
        <h1>Tentang ASD Screening</h1>
        <p>ASD Screening adalah aplikasi tes mengenai gejala autisme.
            Aplikasi ini bukanlah alat diagnostik melainkan tes yang hanya menunjukkan
            ciri-ciri autisme melalui perilaku dan bentuk wajah.</p>
    </div>
</div>

{% endblock %}